body, html {
	height: 100%;
	font-family: Arial;
}

body {
	background: #010B26;
	padding: 0;
	margin: 0;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

/**
 * Wrapper
 */
#w {
	position: relative;
	height: 600px;
	width: 800px;
	overflow: hidden;
}

/**
 * Splash page
 */
#s {
	width: 800px;
	color: #fff;
	position: absolute;
	z-index: 2;
}

/**
 * Starfield
 */
#f {
	position: absolute;
	z-index: 1;
}

/**
 * Game Board
 */
#g {
	height: 600px;
	width: 800px;
	border: 1px solid #000;
	display: none;
	position: absolute;
	z-index: 2;
}

.g #g {
	display: block;
}

.g #s {
	display: none;
}

#g canvas {
	position: absolute;
	transform: translate(-1000px, -1000px);
}
