body, html {
	height: 100%;
	font-family: Arial;
}

body {
	background: #010B26;
	padding: 0;
	margin: 0;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

/**
 * Wrapper
 */
#w {
	position: relative;
	/* 600 for canvas + 12 for life bar */
	height: 612px;
	width: 800px;
	overflow: hidden;
}

/**
 * Splash page
 */
#s {
	width: 800px;
	color: #fff;
	position: absolute;
	z-index: 2;
}

/**
 * Starfield
 */
#f {
	position: absolute;
	z-index: 1;
}

/**
 * Game Board
 */
#g {
	height: 600px;
	width: 800px;
	display: none;
	position: absolute;
	z-index: 2;
}

.g #g,
.g #l {
	display: block;
}

.g #s {
	display: none;
}

#g canvas {
	position: absolute;
	transform: translate(-1000px, -1000px);
}

#l {
	display: none;
	background: green;
	width: 1px;
	height: 12px;
	margin-top: 600px;
	transition: transform 400ms linear;
}