body, html {
	height: 100%;
	font-family: Arial;
}

body {
	background: #010B26;
	padding: 0;
	margin: 0;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

/**
 * Wrapper
 */
#w {
	position: relative;
	/* 600 for canvas + 12 for life bar */
	height: 600px;
	width: 800px;
	overflow: hidden;
}

/**
 * Starfield
 */
#f {
	position: absolute;
	z-index: 1;
}

/**
 * Messages from HQ/Dialog
 */
#m {
	color: #fff;
}

/**
 * Game Board
 */
#g {
	height: 600px;
	width: 800px;
	display: none;
	position: absolute;
	z-index: 2;
}

ul {
	list-style-type: none;
	color: #fff;
}